
@{
    ViewBag.Title = "Index";
}


@using (Html.BeginForm("LogOff", "Account"))
{
    @Html.AntiForgeryToken()
    <button class="btn btn-default pull-right" type="submit">LogOff</button>
}

<div class="parallax" style="height:70%;">
    <img src="../Content/Images/hands2.jpg" alt="Unsplashed background img 1" style="display:block;">
</div>

@if (ViewBag.displayMenu == "Yes")
{
    <div class="row" style="padding:1.5em">
        
        <div class="navbar-collapse collapse">
            <a class="dropdown-button btn" data-activates="dropdown1">Care Givers</a>
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="CareGiver/Index">List</a></li>
                <li><a href="Account/Register">Register</a></li>
            </ul>

            <a class="dropdown-button btn" data-activates="dropdown2">Clients</a>
            <ul id="dropdown2" class="dropdown-content">
                <li><a href="Client/Index">List</a></li>
                <li><a href="Client/Create">New client</a></li>
            </ul>

            <a class="dropdown-button btn" data-activates="dropdown3">Client Visits</a>
            <ul id="dropdown3" class="dropdown-content">
                <li><a href="Visit/Index">List</a></li>
                <li><a href="VisitTask/Index">New task</a></li>
                <li><a href="Visit/Create">Schedule visit</a></li>
            </ul>

            <a class="dropdown-button btn" data-activates="dropdown4">Calendar</a>
            <ul id="dropdown4" class="dropdown-content">
                <li><a href="Calendar/Index">Schedule</a></li>
            </ul>

            <a class="dropdown-button btn" data-activates="dropdown5">Statistics</a>
            <ul id="dropdown5" class="dropdown-content">
                <li><a href="CareGiver/Chart1">CareGiver hours</a></li>
            </ul>

        </div>
        <h2 class="header center teal-text">Home Care Giver Tracker</h2>
        <h4 class="header col s12 white-text">Easily manage your Care Giving Staff, view Clients, track and schedule visits.</h4>
        </div>

}
else if (ViewBag.displaymenu == "Care Giver")
{
    <div class="row" style="padding:1.5em">
        <div class="navbar-collapse collapse">
            <button type="button" onclick="location.href='@Url.Action("CareGiverIndex", "Client", new { UserID = ViewBag.UserID, careGiverID = ViewBag.CareGiverID }, null)'" class="btn btn-sm waves-effect waves-light teal lighten-1">Client List</button>
            <button type="button" onclick="location.href='@Url.Action("CareGiverIndex", "Calendar", new { careGiverID = ViewBag.CareGiverID }, null)'" class="btn btn-sm waves-effect waves-light teal lighten-1">My Calendar</button>
        </div>
    </div>

    <div>
        <h2 class="header center teal-text">  Welcome <strong>@ViewBag.Name</strong></h2>
        <h4 class="header center white-text">View your assigned Client List and Visit Calendar.<br />Enter Visit Details.</h4>
    </div>
    
}


